body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: black;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul h1 {
    display: inline;
    position: absolute;
    left: 40px;
    top: 12px;
    font-size: larger;
}

header nav ul li a {
    color: chartreuse;
    text-decoration: none;
}

#hero {
    background-image: url("desktop-source-code-and-technology-background-developer-or-programer-with-coding-and-programming-wallpaper-by-computer-language-and-source-code-com-PF3PC9.jpg")
}
#hero {
    text-align: center;
    padding: 50px 20px;
    color: chartreuse;
}
section {
    padding: 20px;
    margin: 20px 0;
}

.project-card {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form input, form textarea, form button {
    margin: 10px 0;
    padding: 10px;
    font-size: 1em;
}

form button {
    background: #333;
    color: chartreuse;
    border: none;
    cursor: pointer;
}

form button:hover {
    background: black;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: black;
    color: #fff;
}

* {
    font-family: "Passion One", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 25px;
    color:chartreuse;
}

body {
    background: radial-gradient(circle at 50% 50%,  #166D3B, #2D3436);
    transition: background 0.1s ease; /* Smooth transition */
}

