article :first-child {
    color: aquamarine;
}
article li:nth-child(odd) {
    color: palevioletred;
}
article li:nth-child(even) {
    color:aqua;
}
article li:hover {
    color: gold;
}
article ul li{
    margin: 0px;
    padding: 0px;
    width: 80px;
    background-color: tan;
}
